<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>HospitalManagementSystemWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hospital.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPatientServlet</servlet-name>
    <servlet-class>com.hospital.servlet.AddPatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPatientServlet</servlet-name>
    <url-pattern>/AddPatientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewPatientsServlet</servlet-name>
    <servlet-class>com.hospital.servlet.ViewPatientsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPatientsServlet</servlet-name>
    <url-pattern>/ViewPatientsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditPatientServlet</servlet-name>
    <servlet-class>com.hospital.servlet.EditPatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPatientServlet</servlet-name>
    <url-pattern>/EditPatientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePatientServlet</servlet-name>
    <servlet-class>com.hospital.servlet.UpdatePatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePatientServlet</servlet-name>
    <url-pattern>/UpdatePatientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePatientServlet</servlet-name>
    <servlet-class>com.hospital.servlet.DeletePatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePatientServlet</servlet-name>
    <url-pattern>/DeletePatientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDoctorServlet</servlet-name>
    <servlet-class>com.hospital.servlet.AddDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDoctorServlet</servlet-name>
    <url-pattern>/AddDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewDoctorsServlet</servlet-name>
    <servlet-class>com.hospital.servlet.ViewDoctorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDoctorsServlet</servlet-name>
    <url-pattern>/ViewDoctorsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditDoctorServlet</servlet-name>
    <servlet-class>com.hospital.servlet.EditDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDoctorServlet</servlet-name>
    <url-pattern>/EditDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateDoctorServlet</servlet-name>
    <servlet-class>com.hospital.servlet.UpdateDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDoctorServlet</servlet-name>
    <url-pattern>/UpdateDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteDoctorServlet</servlet-name>
    <servlet-class>com.hospital.servlet.DeleteDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDoctorServlet</servlet-name>
    <url-pattern>/DeleteDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAppointmentServlet</display-name>
    <servlet-name>AddAppointmentServlet</servlet-name>
    <servlet-class>com.hospital.servlet.AddAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAppointmentServlet</servlet-name>
    <url-pattern>/AddAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAppointmentsServlet</display-name>
    <servlet-name>ViewAppointmentsServlet</servlet-name>
    <servlet-class>com.hospital.servlet.ViewAppointmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAppointmentsServlet</servlet-name>
    <url-pattern>/ViewAppointmentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAppointmentServlet</display-name>
    <servlet-name>EditAppointmentServlet</servlet-name>
    <servlet-class>com.hospital.servlet.EditAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAppointmentServlet</servlet-name>
    <url-pattern>/EditAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAppointmentServlet</display-name>
    <servlet-name>UpdateAppointmentServlet</servlet-name>
    <servlet-class>com.hospital.servlet.UpdateAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAppointmentServlet</servlet-name>
    <url-pattern>/UpdateAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAppointmentServlet</display-name>
    <servlet-name>DeleteAppointmentServlet</servlet-name>
    <servlet-class>com.hospital.servlet.DeleteAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAppointmentServlet</servlet-name>
    <url-pattern>/DeleteAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>com.hospital.servlet.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/DashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.hospital.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBillServlet</display-name>
    <servlet-name>AddBillServlet</servlet-name>
    <servlet-class>com.hospital.servlet.AddBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBillServlet</servlet-name>
    <url-pattern>/AddBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBillsServlet</display-name>
    <servlet-name>ViewBillsServlet</servlet-name>
    <servlet-class>com.hospital.servlet.ViewBillsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBillsServlet</servlet-name>
    <url-pattern>/ViewBillsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBillServlet</display-name>
    <servlet-name>EditBillServlet</servlet-name>
    <servlet-class>com.hospital.servlet.EditBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBillServlet</servlet-name>
    <url-pattern>/EditBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBillServlet</display-name>
    <servlet-name>UpdateBillServlet</servlet-name>
    <servlet-class>com.hospital.servlet.UpdateBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBillServlet</servlet-name>
    <url-pattern>/UpdateBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBillServlet</display-name>
    <servlet-name>DeleteBillServlet</servlet-name>
    <servlet-class>com.hospital.servlet.DeleteBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBillServlet</servlet-name>
    <url-pattern>/DeleteBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPatientServlet</display-name>
    <servlet-name>SearchPatientServlet</servlet-name>
    <servlet-class>com.hospital.servlet.SearchPatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPatientServlet</servlet-name>
    <url-pattern>/SearchPatientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchDoctorServlet</display-name>
    <servlet-name>SearchDoctorServlet</servlet-name>
    <servlet-class>com.hospital.servlet.SearchDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchDoctorServlet</servlet-name>
    <url-pattern>/SearchDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBillServlet</display-name>
    <servlet-name>SearchBillServlet</servlet-name>
    <servlet-class>com.hospital.servlet.SearchBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBillServlet</servlet-name>
    <url-pattern>/SearchBillServlet</url-pattern>
  </servlet-mapping>
</web-app>